<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EmployeeManagementSystem"
         connectionString="data source=localhost;initial catalog=EmployeeManagementSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;AttachDbFilename=D:\AA_SQLSERVER\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeManagementSystem.mdf"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>