USE [EmployeeManagementSystem]
GO
/****** Object:  UserDefinedDataType [dbo].[OrderNumber]    Script Date: 30.11.2019 20:24:09 ******/
CREATE TYPE [dbo].[OrderNumber] FROM [nvarchar](25) NULL
GO
