USE [EmployeeManagementSystem]
GO
/****** Object:  StoredProcedure [dbo].[uspSearchCandidateResumes]    Script Date: 14.12.2019 19:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspSearchCandidateResumes] AS
GO
