USE [EmployeeManagementSystem]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 30.11.2019 20:24:09 ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
